body{
    background-color: black;
    color: white;
}
h1{
    color: red;
}
@keyframes esquivar{
    0% {transform: translate(100px);}
    50% {transform: translate(150px);}
    100% {transform: translate(150px);}
}
.esquivar{
    animation: esquivar 0.3s ease;
}